<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SpaceForTeam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>SpaceFrontController</servlet-name>
	<servlet-class>com.space4team.space.action.SpaceFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SpaceFrontController</servlet-name>
  	<url-pattern>*.sp</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>UserFrontController</servlet-name>
	<servlet-class>com.space4team.user.action.UserFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>  
  
  <servlet>
	<servlet-name>HostFrontController</servlet-name>
	<servlet-class>com.space4team.Host.action.HostFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HostFrontController</servlet-name>
  	<url-pattern>*.ho</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ReviewFrontController</servlet-name>
	<servlet-class>com.space4team.review.action.ReviewFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ReviewFrontController</servlet-name>
  	<url-pattern>*.re</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>BookingFrontController</servlet-name>
	<servlet-class>com.space4team.booking.action.BookingFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BookingFrontController</servlet-name>
  	<url-pattern>*.bk</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>