<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>GuestFrontController</servlet-name>
		<servlet-class>com.itwillbs.guest.action.GuestFrontController</servlet-class>
	</servlet>
  <servlet-mapping>
  	<servlet-name>GuestFrontController</servlet-name>
  	<url-pattern>*.gu</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>HostFrontController</servlet-name>
		<servlet-class>com.itwillbs.host.action.HostFrontController</servlet-class>
	</servlet>
  <servlet-mapping>
  	<servlet-name>HostFrontController</servlet-name>
  	<url-pattern>*.ho</url-pattern>
  </servlet-mapping>
  
</web-app>